h5{
    margin-top: 0;
}
.uk-width-auto{
    margin: 20px;
}
.uk-width-expand h3{
    font-size: 35px;
}
.uk-card-footer{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: space-between;
    
}
@media (max-width:730px) {
    .container{
        display: block;
        margin: auto;
    }
    .uk-flex{
        margin: 80px auto;
        width: 90%;
        display: flex;
    }
    h1{
        text-align: center;
    }
}